header p {
  display:inline-block;
  padding-left: 10px;
  padding-bottom: 0;
  font-family: helvetica;
  font-size: 20px;
  margin-left: 50px;
  transform: scaleX(1);
  font-weight: bold;
  color: RoyalBlue;
}

header form {
  display:inline-block;
  font-family: helvetica;
  font-size: 15px;
}

header img {
  display:inline-block;
  float: right;
}

.button-group {
  width: 100%;
  height: 50px;
  vertical-align: top;
  margin: 0;
  padding: 0;
  text-align: left;
}

button {
  position: relative;
  border-right: 2px solid #999999;
  border-bottom: 2px solid #999999;
  border-top-width: 0px;
  border-left-width: 0px;
  width: 19.5%;
  background-color: #FFD700;
  font-size: 20px;
  height: 50px;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-family: helvetica;
  color: RoyalBlue;
}

#about {
  background-color: RoyalBlue;
  color: #FFD700;
}

#courses:hover {
  background-color: #808080;
}

#exams:hover {
  background-color: #808080;
}

#social-events:hover {
  background-color: #808080;
}

#contact-us:hover {
  background-color: #808080;
}

.navigation a {
  text-decoration: none;
}

.background {
  width: 100%;
  height: 700px;
  display: block;
  position: relative;
  text-align: center;
  margin: 0px;
  border-bottom: solid 15px #FFD700;
}

.hero-message {
  min-width: 100%;
  min-height: 22em;
  color: #FFFFFF;
  position: relative;
  display: flex;
  text-align: left;
}

.hero-message p {
  padding: 20px;
  font-size: 20px;
  font-family: 'courier', helvetica;
  margin: 0;
  width: 100%;
}

.flex-center {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  display: flex;
  width: 100%;
}

.hero-message::before {
  content: "";
  z-index: -1;
  opacity: 0.3;
  display: block;
  min-width: 100%;
  min-height: 18em;
  background-color: #343a40;
  position: absolute;
  bottom: 50px;
}

.background::before {
  background-image: url(images/laughing.jpg);
  background-size: cover;
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;
  margin: 0px;
}

/*.testimonials {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  border-bottom: solid 5px #FFD700;
}

.testimonials p {
  padding: 20px;
  font-family: helvetica;
  text-align: center;
  justify-content: center;
} */

.middle {
  width: 100%;
  display: inline-flex;
  border-bottom: solid 5px #FFD700;
  background-color: lightgrey;
}

.form {
  width: 35%;
  margin: 30px;
  font-family: helvetica;
}

#submit {
  border: none;
  background-color: #008080;
  width: 75px;
  height: 45px;
  font-size: 15px;
}

#submit:hover {
  border: none;
  background: white;
}

#FAQs {
  margin: 30px;
  width: 65%;
  font-family: helvetica;
}

#FAQs h4 {
  color: RoyalBlue;
}

#FAQs p {
  font-family: courier;
  color: #FFFFFF
}

footer {
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  margin: 0;
  justify-content: center;
}

footer div {
  display: inline;
  padding: 25px;
}

#address {
  font-family: helvetica;
}

#whatsapp {
  font-family: helvetica;
}

button:hover {
  color: RoyalBlue;
}
