header {
  width: 100%;
}

header p {
  display:inline-block;
  padding: 10px;
  font-family: helvetica;
}

header form {
  display:inline-block;
  font-family: helvetica;
}

header img {
  display:inline-block;
  float: right;
}

.navigation {
  padding: 20px;
  font-family: helvetica;
  text-align: center;
  background-color: RoyalBlue;
}

.navigation a {
  padding: 20px;
}

.background {
  width: 100%;
  height: 700px;
  display: block;
  position: relative;
}

.large-text {
  position: absolute;
  color: #343a40;
  margin-top: 56px;
  font-size: 55px;
  font-weight: bold;
  opacity: 0.3;
  font-family: helvetica;
  transform: scaleY(1.7);
  top: 0;
}

.hero-message {
  min-width: 100%;
  min-height: 18em;
  color: #FFFFFF;
  position: relative;
  display: flex;
}

.hero-message p {
  padding: 20px;
  font-size: 20px;
  font-family: helvetica;
}

.flex-center {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  display: flex;
}

.hero-message::before {
  content: "";
  z-index: -1;
  opacity: 0.3;
  display: block;
  min-width: 100%;
  min-height: 18em;
  background-color: #343a40;
  position: absolute;
  bottom: 50px;
}

.background::before {
  background-image: url(images/pairwork.jpg);
  background-size: cover;
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;
}
